.sdg-blue {
    color: #418FDE;
  }
  
  .sdg-red {
    color: #E5243B;
  }
  
  .sdg-yellow {
    color: #F9A620;
  }
  
  .sdg-green {
    color: #4CAF50;
  }
  
  .sdg-orange {
    color: #FFA500;
  }
  
  .sdg-purple {
    color: #7C439B;
  }
  